<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body class="container">
    <script></script>
    <main>
      <div>
        <h1>Movie Collection</h1>
        <form action="/movies" method="get">
          <ul>
            <% for (const [key, element] of Object.entries(movies)) { %>
            <li>
              <%= element.title %> | <%= element.code %>
              <button formaction="/movies/<%= key %>/edit" type="submit">
                edit
              </button>
              <button
                tpye="submit"
                formmethod="post"
                formaction="/movies/<%= key %>/delete"
              >
                delete
              </button>
            </li>
            <% } %>
          </ul>
        </form>
      </div>
      <div>
        <form action="/movies" method="post">
          <label for="title">Enter title: </label>
          <input id="title" type="text" name="title" value="Movie title" />
          <select id="code" name="code">
            <% for (const element of Object.values(codes)) { %>
            <option value="<%= element %>"><%= element %></option>
            <% } %>
          </select>
          <input type="submit" value="OK" />
        </form>
      </div>
    </main>
  </body>
</html>
